// brand-name
.avantis {
   font-weight: 600;
   font-size: 40px;
   line-height: 61px;
   color: #ffffff;
}
.trust {
   font-weight: 700;
   font-size: 40px;
   line-height: 61px;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px #fff;
}
