.brand-name {
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  .avantis {
    color: #ffffff;
  }
  .trust {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 700;
  }
}
